@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){

    body {
        background: linear-gradient(180deg,rgba(0, 0, 0, 1) 35%, rgba(81, 172, 197, 0.93) 75%, rgba(43, 150, 204, 0.85) 100%);
    }

    section#login {
        width: 80vw;
    }

    div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    div.entrada {
        float: right;
        width: 70%;
        
    }
}

@media screen and (min-width: 992px) {
    body {
        background: linear-gradient(180deg,rgba(0, 0, 0, 1) 35%, rgba(81, 172, 197, 0.93) 75%, rgba(43, 150, 204, 0.85) 100%);
    }
    
    section#login {
        width: 950px;
    }

    div#imagem {
        float: left;
        width: 50%;
        height:100%
    }

    div#formulario {
        float: right;
        width: 50%;
    }
}