@charset "UTF-8";

@media screen and (min-width: 768px){
  html, body {
    background: #000000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 35%, rgba(81, 172, 197, 0.93) 75%, rgba(43, 150, 204, 0.85) 100%);
  }

  section#login {
    display: inline-flex;
    width: 700px;
}

div#imagem {
    width: 410px;
    height: 330px;
    border-radius: 30px 0px 0px 30px;
}

div.entrada {
    width: 470px;
    
}

div.entrada > input {
    width: 437px;
    
}

input.botoes {
    width: 470px;
}

}

@media screen and (min-width: 1200px){
    
}