@charset "UTF-8";

/* 
Paleta de cores
branco :#FFFFFF
preto :#000000
verde: #326877
*/

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

:root {
    --cor-fonte: black;
    --cor-fundo: #326877;
    --cor-fundo2: white;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-fundo);
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--cor-fundo2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.58);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

div#imagem {
    display: block;
    background-image: url(../imagens/textura.jpg);
    height: 200px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

div#formulario {
    display: block;
    padding: 10px;
}