@charset "UTF-8";

/* 
Paleta de cores
branco :#FFFFFF
preto :#000000
verde: #326877
*/

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

:root {
    --cor-fonte: black;
    --cor-fundo: #326877;
    --cor-fundo2: white;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-fundo);
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: auto;
    background-color: var(--cor-fundo2);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.58);
    width: 350px;
    border-radius: 30px;
    overflow: hidden;
}

div#imagem {
    display: block;
    background-image: url(../imagens/textura.jpg);
    height: 270px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

div#formulario {
    display: block;
    text-align: center;
    padding: 10px;
}

div#formulario > h1 {
    font-size: 2em;
    padding-bottom: 20px;
}

div#formulario > p {
    text-align: left;
}

label, input{
    display: inline-block;
    height: 35px;
}

div.entrada {
    background-color: var(--cor-fundo);
    width: 330px;
    margin: 5px auto;
    border-radius: 10px;
}

div.entrada > input {
    width: 290px;
    height: 40px;
    margin: 2px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
}

div.entrada > input:focus {
    background-color: var(--cor-fundo2);
}

div.entrada > input {
    background-color: #51acc5;
}

input.botoes {
    width: 330px;
    height: 45px;
    margin: 2px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.44);
}

input#entrar {
    color: white;
    background-color: #51acc5;
    border: none;
}

input#entrar:hover {
    background-color: #377788;
}